[submodule "hugo-theme-dream"]
	path = hugo-theme-dream
	url = https://github.com/g1eny0ung/hugo-theme-dream.git
[submodule "themes/dream_blog"]
	path = themes/dream_blog
	url = https://github.com/g1eny0ung/hugo-theme-dream.git
[submodule "dream"]
	path = dream
	url = https://github.com/g1eny0ung/hugo-theme-dream.git
